[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
psycopg = {extras = ["pool", "binary"] }
python-multipart = "*"
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
