[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
tqdm = "*"
pillow = "*"
opencv-python = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
